<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhishektiwari.cu_connect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="CU Connect"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cu_Connect"
        tools:targetApi="31">
        <activity
            android:name=".Cuims"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Post_for_home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignup"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3817807149121122~4312595899" />
    </application>

</manifest>